main {
    
    section {

        .send {
            .circle {
                height: 40px;
                width: 40px;
            }
        }
    }
    article {
        .coin {

            .flex-wrap {

                .mid-con {

                    .copy-con {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.copied {
    width: fit-content;
    z-index: 10;
    bottom: 0;
    background-color: whitesmoke;
    transition: 2000ms;
    visibility: hidden;
}
.move {
    transform: translateY(200px);
}